.signup-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-container h2 {
    text-align: center;
}

.signup-container label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

.signup-container input[type="text"],
.signup-container input[type="password"],
.signup-container input[type="email"],
.signup-container input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

    .signup-container input[type="submit"]:hover {
        background-color: #218838;
    }

.status-label {
    text-align: left;
    margin-top: 10px;
    color: red;
}
